<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      p {
        margin: 0px;
      }
    </style>
  </head>
  <body>
      <p>Përshëndetje <%= @user.first_name %>,</p>
      <p>Shpresojmë që jeni mirë me shëndet dhe po kaloni një ditë të mbarë.</p><br>
      <p>Bashkëngjitur keni pasqyrën e pagës për periudhën <%= @date_from %> - <%= @date_to %></p>
      <p>Për çdo paqartësi, ju lutemi mos hezitoni.</p><br>
      <p>Faleminderit dhe ju dëshirojmë të gjitha të mirat.</p>
      <p>Me respekt,</p>
      <p>Human Resources Growth and Motivation Department</p><br>
      <p>T: +383 49 600 921</p>
      <% if @current_admin.sending_mail == "humanresources@albinadyla.com" %>
        <p>E: humanresources@albinadyla.com</p>
        <p>Albina Dyla   "Skenderbeu" Street n.n 50 000, Gjakova, Kosova</p>
      <% else %>
        <p>E: humanresources.pr@albinadyla.com</p>
        <p>Marigona Residence
10000 Prishtinë, Kosovë</p>
      <% end %>
      
      <p>Facebook: Albina Dyla</p>
      <p>Youtube: Albina Dyla</p>
      <p>Instagram: albinadylaofficial</p>
  </body>
</html>