/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.headerPic{
  border-radius:50%;
  width:50px;
  height:50px;
  margin-top:25px;
  box-shadow:0px 7px 10px #525252;
}
 .header {
    height: 50px;
    width: 5%;

 }
 .sticky {
      position: fixed;
      top: 0;
      width: 5%;
    }
.container {
	margin-top:30px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    padding: 20px;
    background: #f3f3f3;
    border: dashed 3px #b3b3b3;
    color: #78d3e3;
    font-size: 23px
}
.btn-file:hover {
  background: #e3e3e3;
  border: dashed 3px #afb9e3;
  color: #bafff9;
}
.selected_files {
  background: #5db0e8;
  border: dashed 3px #afb9e3;
  color: #bafff9;
  #file_name {
    display:block
  }
}
.selected_files:hover {
  background: #5db0e8;
  border: dashed 3px #afb9e3;
  color: #bafff9;
}
.btn-file:focus {
  background: #e3e3e3;
  color: #78d3e3;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: inline-block;
}

table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

/* jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}

/* jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #b3b3b3 none;
    color: white;
}

#animation-box {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 184px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:100px; top:0px;}
  50%  {background-color:blue; left:200px; top:0px;}
  75%  {background-color:green; left:100px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:100px; top:0px;}
  50%  {background-color:blue; left:200px; top:0px;}
  75%  {background-color:green; left:100px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}

.date-forms {
  border-radius: 4px;
  border: solid 0.5px #b3b3b3;
  height: 30px
}

.date-forms:active{
  border-radius: 4px;
  border: solid 0.5px #ff9900;
  height: 30px
} 

.day {
  height: 100px;
  border: solid 1px #b3b3b3;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px #c1c1c1;
  background-color: #f5f5f5;
  margin: 25px;
  h4 {
    margin-top: 20px;
  }
  input {
    width: 30%;
    background-color: #f5f5f5;
  }
}
.day:active {
  border: solid 1px #79a7e8;
  box-shadow: 0px 0px 7px 0px #79a7e8;
}

input[type="text"]#subdomaintwo{
    -webkit-appearance:none!important;
    color:red;
    text-align:right;
    width:75px;
    border:1px solid gray;
    border-left:0px;
    margin:0 0 0 -7px;
    background:white;
}
input[type="text"]#subdomain{
    -webkit-appearance:none!important;
    border:1px solid gray;
    border-right:0px;
    outline:none;
}

